.box{
  width: 1200px;
  margin: 20px auto;
}
.box-item{
    width: 150px;
    height: 450px;
    margin-left: -350px;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}
.box-item-2{
    width: 150px;
    height: 450px;
    margin-left: 70px;
    margin-top: -450px;
    border: 1px solid black;
    text-align: center;
    border-radius: 30px;
}
.img1{
    margin-left: 50px;
}
.img2{
    margin-left: 200px;
}